{% load static %}

<html>
	<head>
		<title>My app with forms</title>
        <link rel="stylesheet" href="{% static "css/bulma.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
	</head>

	<body>
		<div class="container" id="app" style="width: 500px; top: 70px;border: 1px;background: aliceblue;">
      <h1 class="title" style="text-align: center;">Add Risk Type Values</h1>
      <div id="app" style="margin: 10px;">
            <form v-on:submit.prevent="addRiskValue">
              <mydivlabel
                v-for="riskfield in riskFieldList"
                v-bind:riskfield="riskfield"
                v-bind:key="riskfield.id">
              </mydivlabel>
              <div class="control">
                  <button class="button is-primary">Submit</button>
              </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static "js/vue.js" %}"></script>
    <script type="text/javascript" src="{% static "js/axios.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/vue_app.js" %}"></script>
	</body>

</html>
